In [31]:
print("Hello World! This is for teaching print function")

Hello World! This is for teaching print function

In [32]:
name="Aarav"
x=10
y=20
print(name,x,y)

Aarav 10 20

In [33]:
name=input("Enter the name")
print(name)

KeyboardInterrupt: Interrupted by user

In [ ]:
x=10
x="happy"
print(x)

happy

In [ ]:
x=3+5j
print(type(x))

<class 'complex'>

In [ ]:
print(id(x))

123432231281552

In [ ]:
print(not False or False)

True

In [ ]:
print("y" in "cat")

False

In [ ]:
a="cat"
b='dog'
print(a==b)

False

In [ ]:
a=5
b=6
temp=a
a=b
b=temp
print(a,b)

6 5

In [ ]:
a=5
b=6
b,a=a,b
print(a,b)

6 5

This is for writing text

In [ ]:
a,b,c=3,4,5

In [ ]:
name="Harris"
age=23
print(f"He is {name}. He is {age} years old")

He is Harris. He is 23 years old

DAY 2

In [ ]:
x=None

In [ ]:
print(type(x))

<class 'NoneType'>

In [ ]:
11//3

3

In [ ]:
11%3

2

In [ ]:
2**3

8

In [ ]:
5<10

True

In [ ]:
10=="10"

False

In [ ]:
7!=2

True

In [ ]:
age = 20
print(age > 18 or age == 30)

True

In [ ]:
x=11
print(float(x))

11.0

In [ ]:
name="Aaravwkebhfi wegfiweifbweibf"
print(len(name))

28

In [ ]:
round(3.567, 0)

4.0

In [ ]:
0.1+0.2

0.30000000000000004

Day 3

In [ ]:
print(type("Python"))

<class 'str'>

In [ ]:
word="Python"
print(word[-6])

P

In [ ]:
word="Slicing"
print(word[1:])

licing

In [ ]:
print(word[1:6:2])

lcn

In [ ]:
word[-1:-3:-1]

'gn'

In [ ]:
name="tushar"
print(name.upper())

TUSHAR

In [ ]:
name="TUSHAR"
print(name.lower())

tushar

In [ ]:
name="   Tushar                   "
print(name)

   Tushar

In [ ]:
len(name)

28

In [ ]:
print(name.strip())

Tushar

In [ ]:
full_name="tutorial.pdf"
print(full_name.endswith(".pdf"))

True

In [ ]:
name="Mr. Tushar"
print(name.replace("Mr.","Mister"))

Mister Tushar

In [ ]:
name

'Mr. Tushar'

In [ ]:
full_name="Aarav Singh"
print(full_name.split(" "))

['Aarav', 'Singh']

In [ ]:
"name class rollno subject grades".split()

['name', 'class', 'rollno', 'subject', 'grades']

In [ ]:
"apple".count("p")

2

In [ ]:
name = "Aarav"
age = 20
print("My name is {} and I am {} years old.".format(name, age))

My name is Aarav and I am 20 years old.

In [ ]:
collector=[454,'Hello','world',4.5]

In [ ]:
collector[-1]

4.5

In [ ]:
print(type(collector))

<class 'list'>

In [ ]:
marks=[24,62,1,5,56,34,67]

In [ ]:
marks[::-1]

[67, 34, 56, 5, 1, 62, 24]

In [ ]:
marks[0]=30

In [ ]:
marks

[30, 62, 1, 5, 56, 34, 67]

In [ ]:
marks[2]=50

In [ ]:
marks

[30, 62, 50, 5, 56, 34, 67]

In [ ]:
marks[-1]=30

In [ ]:
marks

[30, 62, 50, 5, 56, 34, 30]

In [ ]:
marks.append(90)

In [ ]:
marks

[30, 62, 50, 5, 56, 34, 30, 90]

In [ ]:
marks.insert(1,80)

In [ ]:
marks

[30, 80, 62, 50, 5, 56, 34, 30, 90]

In [ ]:
name=["harsh","jibral","aarav"]

In [ ]:
name.append(45)

In [ ]:
name

['harsh', 'jibral', 'aarav', 'Rishabh', 45]

In [ ]:
name.insert(0,"Utop")

In [ ]:
name

['Utop', 'harsh', 'jibral', 'aarav', 'Rishabh', 45]

In [ ]:
name.append(["Raghav","Div","SoS"])

In [ ]:
name

['Utop', 'harsh', 'jibral', 'aarav', 'Rishabh', 45, ['Raghav', 'Div', 'SoS']]

In [ ]:
name.extend(["Raghav","Div","SoS"])

In [ ]:
name

['Utop',
 'harsh',
 'jibral',
 'aarav',
 'Rishabh',
 45,
 ['Raghav', 'Div', 'SoS'],
 'Raghav',
 'Div',
 'SoS']

In [ ]:
name=["harsh","jibral","aarav"]

In [ ]:
name

['harsh', 'jibral', 'aarav']

In [ ]:
name.extend(['Raghav', 'Div', 'SoS'])

In [ ]:
name

['harsh', 'jibral', 'aarav', 'Raghav', 'Div', 'SoS']

In [ ]:
name.remove("harsh")

In [ ]:
name

['jibral', 'aarav', 'Raghav', 'Div', 'SoS']

In [ ]:
name.pop()

'SoS'

In [ ]:
name

['jibral', 'aarav', 'Raghav', 'Div']

In [ ]:
name.pop(1)

'aarav'

In [ ]:
name

['jibral', 'Raghav', 'Div']

In [ ]:
marks

[30, 80, 62, 50, 5, 56, 34, 30, 90]

In [ ]:
marks.sort()

In [ ]:
marks

[5, 30, 30, 34, 50, 56, 62, 80, 90]

In [ ]:
marks.sort(reverse=True)

In [ ]:
marks=[90, 80, 62, 56, 50, 34, 30, 30, 5]

In [ ]:
marks

[90, 80, 62, 56, 50, 34, 30, 30, 5]

In [ ]:
del marks[0:3]

In [ ]:
marks

[56, 50, 34, 30, 30, 5]

In [ ]:
len(marks)

6

In [ ]:
min(marks)

5

In [ ]:
max(marks)

56

In [ ]:
sum(marks)

205

In [ ]:
student=["Tushar",[78,[99,87],67],["Maths",'Python',"AI/ML"]]

In [ ]:
student[1][0]

78

In [ ]:
student[2][1]

'Python'

In [ ]:
student[-1][-1]

'AI/ML'

Day 4

In [ ]:
name=("Banana","Apple","Mango","Grapes","Berries")

In [ ]:
type(name)

tuple

In [ ]:
name[0]="bana"

TypeError: 'tuple' object does not support item assignment

In [ ]:
name[2]

'Mango'

In [ ]:
name[::-1]

('Berries', 'Grapes', 'Mango', 'Apple', 'Banana')

In [ ]:
name.count("Banana")

1

In [ ]:
name.index("Mango")

2

In [ ]:
collect=(0,"Apple","Mango")

In [ ]:
a,b,c=collect

In [ ]:
print(a,b,c)

0 Apple Mango

In [ ]:
s={1,2,3,3,4,4,4,True,False,0,1,"Banana","Apple"}

In [ ]:
s

{1, 2, 3, 4, 'Apple', 'Banana', False}

In [ ]:
s[1]

TypeError: 'set' object is not subscriptable

In [ ]:
s.add("Mango")

In [ ]:
s

{1, 2, 3, 4, 'Apple', 'Banana', False}

In [ ]:
s.remove(2)

In [ ]:
s

{1, 3, 4, 'Apple', 'Banana', False}

In [ ]:
s.discard(2)

In [ ]:
s={1,2,3,4,5}

In [ ]:
a=s.copy()

In [ ]:
a

{1, 2, 3, 4, 5}

In [ ]:
a.add("E")

In [ ]:
a

{1, 2, 3, 4, 5, 'E'}

In [ ]:
s

{1, 2, 3, 4, 5}

In [ ]:
s.discard(2)

In [ ]:
newSet=s

In [ ]:
newSet

{1, 3, 4, 'Apple', 'Banana', False, 'Mango'}

In [ ]:
newSet.remove(4)

In [ ]:
newSet

{1, 3, 'Apple', 'Banana', False, 'Mango'}

In [ ]:
s

{1, 3, 'Apple', 'Banana', False, 'Mango'}

In [ ]:
new=s.copy()

In [ ]:
new.remove(1)

In [ ]:
new

{3, 'Apple', 'Banana', False, 'Mango'}

In [ ]:
s

{1, 3, 'Apple', 'Banana', False, 'Mango'}

In [ ]:
new.clear()

In [ ]:
new

set()

In [ ]:
a={1,2,3,5,6}
b={1,3,4,7}

In [ ]:
a.intersection(b)

{1, 3}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a.difference(b)

{2, 5, 6}

In [ ]:
a.symmetric_difference(b)

{2, 4, 5, 6, 7}

In [ ]:
a.update(b)

In [ ]:
a

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
d={}

In [ ]:
type(d)

dict

In [ ]:
student={"name":"Tushar","age":22,"marks":89}

In [ ]:
student['name']

'Tushar'

In [ ]:
student.get("name")

'Tushar'

In [ ]:
student['name']="Aarav"

In [ ]:
student.popitem()

('marks', 89)

In [ ]:
student.keys()

dict_keys(['name', 'age', 'marks'])

In [ ]:
student.values()

dict_values(['Aarav', 22, 89])

In [ ]:
student.items()

dict_items([('name', 'Aarav'), ('age', 22), ('marks', 89)])

In [ ]:
student.pop("name")

'Aarav'

In [ ]:
student

{'age': 22, 'marks': 89}

In [ ]:
student.popitem()

('marks', 89)

In [ ]:
student

{'age': 22}

In [ ]:
sample_dict={"name":"Tushar","age":22,"marks":89}

In [ ]:
sample_dict["country"]='India'

In [ ]:
sample_dict

{'name': 'Tushar', 'age': 22, 'marks': 89, 'country': 'India'}

Day 5

In [ ]:
age=9

In [ ]:
if age>18:
    print("Yes")
else:
    print("No")

No

In [ ]:
age<15 - Parents form
15<=age<18 - Form 5 required
age>=18 - No form

In [ ]:
age=int(input("Enter your age : "))

if age<15:
    print("Parents form")
elif age>=15 and age<18:
    print('Form 5 required')
else:
    print("No form")

Form 5 required

In [ ]:
score=int(input("Enter your score : "))

if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=50:
    print("C")
else:
    print("D")

D

In [ ]:
age=20
citizen = True
name="Tushar"

In [ ]:
if age>=18:
    if citizen:
        if name.startswith("T"):
            print("Yes")
        else:
            print("Not")
        print("Eligible")
    else:
        print("Not a citizen")
else:
    print("Underage")

Yes
Eligible

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
names=["Ayush","Div","Tushar","Aarav","SoS","Raghav"]

In [ ]:
for i in names:
    print("Here is the name : ",i)

Here is the name :  Ayush
Here is the name :  Div
Here is the name :  Tushar
Here is the name :  Aarav
Here is the name :  SoS
Here is the name :  Raghav

In [ ]:
for num in range(5):
    print(num,end=" ")

0 1 2 3 4

In [ ]:
s="Python"
for ch in s:
    print(ch,end=" ")

P y t h o n

In [ ]:
count=1

while count<=5:
    print("Its working")
    count=count+1

Its working
Its working
Its working
Its working
Its working

In [ ]:
for i in range(1,21):
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,21):
    if i==10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(21):
    
    if i==10:
        pass
    else:
        continue
    
    print(i)

10

In [ ]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [ ]:
l=[4,7,32,6,8,3,65,9]
sorted(l)

[3, 4, 6, 7, 8, 9, 32, 65]

In [ ]:
l

[4, 7, 32, 6, 8, 3, 65, 9]

In [ ]:
names=["Ayush","Div","Tushar","Aarav","SoS","Raghav"]

for i in range(len(names)):
    print(names[i])

Ayush
Div
Tushar
Aarav
SoS
Raghav

In [ ]:
for i,name in enumerate("Python"):
    print(i, name)

0 P
1 y
2 t
3 h
4 o
5 n

In [ ]:
name=["Aarav","Riya"]
score=[88,92]

In [ ]:
for i in range(len(name)):
    print(name[0],score[0])

Aarav 88
Aarav 88

In [ ]:
for n,s in zip(name,score):
    print(n,s)

Aarav 88
Riya 92

In [ ]:
s=[["Apple"],["Banana"],["Mango"]]
for i,f in enumerate(s):
    print(i,":",f)

0 : ['Apple']
1 : ['Banana']
2 : ['Mango']

In [ ]:
a=["Aarav","Riya"]
b=['89','90']
for n,m in zip(a,b):
    print(n,":",m)

Aarav : 89
Riya : 90

In [ ]:
s=[1,0,-3,5,-10]

In [ ]:
s.sort()

In [ ]:
sorted(s)

[-10, -3, 0, 1, 5]

In [ ]:
s

[-10, -3, 0, 1, 5]

Day 6

In [ ]:
score=[2,6,2,6,8,3,6]
max=-1
for i in score:
    if max<i:
        max=i
print(max)

In [ ]:
x,y=6,5
if x>y:
    print(x)
else:
    print(y)
    
a,b=6,3
if a>b:
    print(a)
else:
    print(b)

6

In [1]:
score_m=[2,43,232,45,56,345,23]
score_cse=[23,45,67,89,12,34,56]
score_ec=[12,34,56,78,90,11,23]

In [6]:
def max_finder(x):
    maximum=-1
    for i in x:
        if maximum<i:
            maximum=i
    print("Max in m :",maximum)
max_finder(score_m)

Max in m : 345

In [12]:
def greet():
    print("Hello world")

In [13]:
greet()

Hello world

In [23]:
def maxgiver(x):
    maximum=-1
    for i in x:
        if maximum<i:
            maximum=i
    return maximum
s=maxgiver(score_cse)

In [24]:
s

89

In [102]:
s=[1,2,3,4,5,32,34,23,4,4590,984,222,678,890]

In [107]:
def po(x):
    return x%3==0
l=list(filter(po,s))

In [108]:
l

[3, 4590, 984, 222, 678]

In [56]:
def max_finder(x,z,y=9):
    print("X : ",x)
    print("Y : ",y)
    print("Z : ",z)

In [60]:
max_finder(z=5,y=6,x=2,a=0)

TypeError: max_finder() got an unexpected keyword argument 'a'

In [76]:
def add(**x):
    print(x)

In [79]:
add(name="aarrav",age=20,gender='M',Science=100)

{'name': 'aarrav', 'age': 20, 'gender': 'M', 'Science': 100}

In [ ]:
max_finder(80,90)

90

In [ ]:
a,b=8,7
max_finder(a,b)

8

In [ ]:
def greet():
    return "Hello, welcome to Python!"

In [ ]:
x=greet()

In [ ]:
x

'Hello, welcome to Python!'

In [ ]:
def max_finder(x=4,y=6):
    print("Value of x : ",x)
    print("Value of y : ",y)

In [ ]:
max_finder()

Value of x :  4
Value of y :  6

In [ ]:
score=[6,2,8,3,7,9]
score.sort(reverse=True)

In [ ]:
score

[9, 8, 7, 6, 3, 2]

In [ ]:
def show_numbers(*x):
    return min(x)

In [ ]:
var_name=show_numbers(5,6,7,8,9,0,8,76,3,5,8,9)

In [ ]:
var_name

0

In [ ]:
def show_val(**x):
    print(x)

show_val(name="aarav",age=20,city='Lucknow')

{'name': 'aarav', 'age': 20, 'city': 'Lucknow'}

In [ ]:
double=lambda x:x*2
double([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
def tothepower(x):
    if x%2==0:
        return "Even"

L=[1,2,3,4,5,6,7]
list(map(tothepower,L))

[None, 'Even', None, 'Even', None, 'Even', None]

In [ ]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
def filterout(x):
    return x%2==0

list(filter(filterout,L))

[2, 4, 6]

In [ ]:
list(filter(lambda x:x%2==1,L))

[1, 3, 5, 7]

In [ ]:
x=[(1,0),(1,2),(0,1),(0,0),(4,5),(4,1)]
sorted(x,key=lambda x:x[-1])

[(1, 0), (0, 0), (0, 1), (4, 1), (1, 2), (4, 5)]

In [ ]:
def length(word):
    return len(word)

words = ["apple", "kiwi", "banana"]
sorted(words,key=length,reverse=True)

['banana', 'apple', 'kiwi']

In [ ]:
arr=input().split()

ValueError: invalid literal for int() with base 10: '1 2 3 4 5 6 7 8 9'

In [ ]:
arr=input().split()
arr

['1', '2', '3', '4', '5', '6', '7']

In [ ]:
a,b,c=map(int,input().split())

In [ ]:
a,b,c,d=(4,6,4,7)

In [ ]:
b

6

In [ ]:
sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)
print("this line")

0
1
2
3
4
this line

Hello

In [ ]:
def looping(x):
    for i in range(x+1):
        print(i)
        
looping(10)

SyntaxError: '(' was never closed (3026704154.py, line 3)

In [ ]:
def greet():
    print("Hello")

In [ ]:
greet("Aarav")

TypeError: greet() takes 0 positional arguments but 1 was given

In [ ]:
def submission(a,b):
    return str(a+b)

In [ ]:
c=submission(1,4)

In [ ]:
c

'5'

In [ ]:
def fun(*x):
    print(x)
fun(10,20,30,40,50,60,-50,-20)

(10, 20, 30, 40, 50, 60, -50, -20)

In [ ]:
def details(**x):
    print(x)

In [ ]:
details(n="Aarav",c="12th",d="CSE")

{'n': 'Aarav', 'c': '12th', 'd': 'CSE'}

In [ ]:
square=lambda x:x*x
square(5)

25

In [ ]:
s=[1,2,3,4,5,6]

In [ ]:
for i in range(len(s)):
    s[i]=str(s[i])

In [ ]:
s

['1', '2', '3', '4', '5', '6']

In [ ]:
def convert(x):
    return str(x)
s=[1,2,3,4,5,6]
list(map(convert,s))

['1', '2', '3', '4', '5', '6']

In [ ]:
list(map(lambda x:x**2,s))

[1, 4, 9, 16, 25, 36]

Day 7

In [ ]:
import math

print(math.sqrt(25))

5.0

In [ ]:
area = 2*math.pi*7

In [ ]:
area

43.982297150257104

In [ ]:
math.factorial(5)

120

In [ ]:
import random
a="adfnwoen54it4n4n3o;.;,'./';"
s=[]
for _ in range(10):
    s.append(random.choice(a))

In [ ]:
"".join(s)

"'',dt5'f'n"

In [ ]:
today

datetime.date(2025, 12, 22)

In [ ]:
import time 

start=time.time()
for i in range(10):
    print(i)
end=time.time()
time.sleep(2)
print("Loading",end="")
for _ in range(3):
    time.sleep(1)
    print(".",end="")
print("\n")
print(end-start)

0
1
2
3
4
5
6
7
8
9
Loading...

0.00033593177795410156

In [8]:
import matplotlib.pyplot as plt

In [ ]:
import my_module as m
m.fun(10,10,4,2,7,6)

TypeError: fun() takes 1 positional argument but 6 were given

Day 8

In [10]:
file=open("info.txt","r")
print(file.read())
file.close()

This is for setup
I am writing this to check open function

In [13]:
file=open("file1.txt","w")
file.write("This has been written using write function")
file.close()

In [14]:
file=open("file1.txt","w")
file.write("This has been over written by write function")
file.close()

In [2]:
file=open('file1.txt',"a")
file.write("\nThis is on the same line")
file.close()

In [17]:
file=open('file4.txt',"a")
file.write("\nThis is on the same line")
file.close()

In [26]:
file=open("info.txt","r+")
print(file.read())
file.write("This is getting append")
file.close()

This is for setup
I am writing this to check open function

This is content
This is content
This is contentThis is content

In [5]:
file=open("info.txt","r")
lines=file.readlines()
print(lines)
file.close()

['This is for setup\n', 'I am writing this to check open function\n', '\n', 'This is content\n', 'This is content\n', 'This is contentThis is contentThis is getting append']

In [6]:
lines=["This is my first line\n","This is 2nd\n"]
file=open("file_test",'w')
file.writelines(lines)
file.close()

In [22]:
with open('info.txt','r') as file:
    # print(file.readline())
    # print(file.tell())
    
    print(file.seek(7))
    print(file.readline())

7
 for setup

In [32]:
import json

name = ['Tushar','Div',"Ayush"]
ages = [22,21,21]

for n,a in zip(name,ages):
    with open("student.txt",'a') as file:
        file.write(f"{n};{a}\n")

In [35]:
import json

with open("student.json","r") as file:
    data = json.load(file)

print(data)

{'name': 'Aarav', 'age': 20, 'course': 'BCA'}

In [39]:
import os

os.rename("test.txt","test1.txt")

In [40]:
os.listdir()

['.cph',
 '.git',
 'cp.cpp',
 'cp.py',
 'file1.txt',
 'file4.txt',
 'file_test',
 'inf.txt',
 'info.txt',
 'my_module.py',
 'practice_python.code-workspace',
 'student.json',
 'student.txt',
 'test.ipynb',
 'test1.txt',
 '__pycache__']

In [41]:
os.getcwd()

'/mnt/c/Users/T/Desktop/git_folders/practice_python'

In [42]:
os.mkdir("testing_folder")

In [43]:
os.listdir()

['.cph',
 '.git',
 'cp.cpp',
 'cp.py',
 'file1.txt',
 'file4.txt',
 'file_test',
 'inf.txt',
 'info.txt',
 'my_module.py',
 'practice_python.code-workspace',
 'student.json',
 'student.txt',
 'test.ipynb',
 'test1.txt',
 'testing_folder',
 '__pycache__']

In [46]:
path = os.path.join(os.getcwd(),"testing_folder")

In [47]:
path

'/mnt/c/Users/T/Desktop/git_folders/practice_python/testing_folder'

In [57]:
os.listdir(path)

['file.txt', 'te.txt']

In [60]:
os.mkdir(path+"/te")

Day 9

In [5]:
x=10
if x==10:
    print(x)

10

In [7]:
print(10/0)
print("Finished")

ZeroDivisionError: division by zero

In [6]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [10]:
try:
    x=int(input("Enter the number"))
    print(10/x)

except:
    print("Error")

Error

In [14]:
x=int(input("Enter the number"))
print(10/x)

ValueError: invalid literal for int() with base 10: 'sdvnskv'

In [24]:
try:
    x=int(input('Enter the number : '))
    print(10/x)

except ValueError:
    print("Do not enter string")

except ZeroDivisionError:
    print("Do not enter value 0")
    
finally:
    print("Program Finished!!!")

Do not enter string
Program Finished!!!

In [29]:
try:
    file=open("abc.txt",'r')

except:
    print("No such file")

finally:
    print("Program finished")

Program finished

In [32]:
age = int(input("Enter age: "))

if age < 18:
    raise ValueError("Age is less than 18")

ValueError: Age is less than 18

In [35]:
l=[1,2,3,4]
try:
    print(l[8])
except IndexError:
    print('Index is not in range of list')

Index is not in range of list

In [36]:
file=open('32.txt','r')

FileNotFoundError: [Errno 2] No such file or directory: '32.txt'

In [38]:
try:
    print(10/1)
except:
    print('Zero not possible')
else:
    print('Ended')

10.0
Ended

SyntaxError: invalid syntax (1146301759.py, line 1)

Day 10

In [ ]:
class student:
    id=1
    def __init__(self,name,no):
        self.name=name
        self.no=no

In [9]:
s1.roll_no

6

In [12]:
print(type(s1))

<class '__main__.student'>

In [20]:
s1=student("Arav",45)
s2=student("Tushar",67)

In [21]:
s1.name

'Arav'

In [22]:
s2.name

'Tushar'

In [ ]:
pi=3.14

class student:
    school="CMS"
    def __init__(self,name,year):
        self.name=name
        self.year=year
    
    
s1=student("Tushar",3)
s2=student("Aarav",4)

In [36]:
s2.name,s2.year

('Aarav', 4)

In [37]:
s1.school="KGS"

In [38]:
s1.school

'KGS'

In [48]:
class student:
    def greet(self):
        print("Hello world")

In [49]:
s=student()

In [50]:
s.greet()

Hello world

In [ ]:
# class Solution:
#     def reversePrefix(self, s: str, k: int) -> str:
#         st=[]
#         res=[]
#         for i in range(k):
#             st.append(s[i])
#         while st:
#             res.append(st.pop())
#         for i in range(k,len(s)):
#             res.append(s[i])
#         return "".join(res)

In [3]:
class Student:
    def greet():
        print("Hello student")

In [4]:
s=Student()
s.greet()

TypeError: Student.greet() takes 0 positional arguments but 1 was given

In [5]:
class A:
    name="ABC"
    def __init__(self,n):
        self.n=n
    
    def greet(self):
        print("Hello",self.n)

In [6]:
x=A("AArav")

In [7]:
x.greet()

Hello AArav

In [ ]:
class Animal:
    
    def __init__(self,name=None,species=None,height=None):
        self.name=name
        self.species=species
        self.height=height
        
    def tell(self):
        print("I am an animal")

class Dog(Animal):
    def speak(self):
        print("Woof name : ",self.name)
        
class birds(Dog):
    def fly(self):
        print("Flewwwwwwwww")

In [16]:
labra=Dog("ABC","XYZ")

In [23]:
labra.tell()

I am an animal

In [18]:
labra.speak()

Woof name :  ABC

In [30]:
sparrow=birds("ABC","XYZ")

In [31]:
sparrow.speak()

Woof name :  ABC

In [32]:
class Dog:
    def speak(self):
        print("Woof")
        
class Birds:
    def fly(self):
        print("Flewwwwwwwww")
        
class combine(Dog,Birds):
    def cob(self):
        print("Both the functions are combined")

In [33]:
st=combine()

In [34]:
st.speak()

Woof

In [35]:
st.fly()

Flewwwwwwwww

In [36]:
st.cob()

Both the functions are combined

In [49]:
class A:
    def loof(self):
        print("Hello")
        
class X(A):
    def speak(self):
        print("This is in class X")

class Y(A):
    def speak(self):
        print("This is inside class Y")
        
class Z(A):
    def tell(self):
        print("This is inside class Z")
        
class O(Z,Y,X):
    def wh(self):
        print("This is inside child O")

In [50]:
animal=O()

In [51]:
animal.speak()

This is inside class Y

In [ ]:
class Person:
    def speak(self):
        print("Person speaking")

class Student(Person):
    def speak(self,name=None):
        if name==None:
            super().speak()
        else:
            print("Student is speaking")

In [20]:
s1=Student()

In [22]:
s1.speak("Aarav")

Student is speaking

In [51]:
class Person:
    
    def __init__(self,name,year,rollno):
        self._name=name
        self.year=year
        self.rollno=rollno
    
    def speak(self):
        print("This is class Person",self.name)
        
class Student(Person):
    
    def __init__(self,name,year,rollno,section):
        super().__init__(name,year,rollno)
        self.section=section

In [52]:
s1=Student("AArav",2022,1109,"A")

In [54]:
s1._name

'AArav'

In [79]:
class ATM:
    
    def __init__(self,balance):
        self.__balance=balance
    
    def show(self):
        self.__balance-=5000
        print(self.__balance)
        
class A(ATM):
    pass

In [80]:
person=A(10000)

In [81]:
person.show()

5000

In [82]:
class Dog:
		def sound(self):
				print("Bark")

class Cat:
		def sound(self):
				print("Meow")

In [84]:
a=Cat()
a.sound()

Meow

In [101]:
class A:
    def loof(self):
        print("Hello")
        
class X(A):
    def speak(self):
        print("This is in class X")
        super().speak()

class Y(A):
    def speak(self):
        print("This is inside class Y")
        super().loof()
        
class Z(X,Y):
    def tell(self):
        print("This is inside class Z")
        super().speak()

In [102]:
student=Z()

In [103]:
student.tell()

This is inside class Z
This is in class X
This is inside class Y
Hello

In [108]:
import json
student={
    "A07611":{
        'name':"Aarav",
        'rollno':'100',
        'college':'ABC college'
    },
    "B0987":{
        'name':"Aarav",
        'rollno':'100',
        'college':'ABC college'
    }
}

In [112]:
with open('student.json','r') as file:
    data=json.load(file)

In [114]:
data['A07611']

{'name': 'Aarav', 'rollno': '100', 'college': 'ABC college'}